@import '../../assets/scss/Mixin.scss';

.Skills {
  display: flex;
  flex: auto;

  @include mobile {
    flex-direction: column;
  }

  > div {
    flex: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
      margin: 12px 0;
    }
  }

  &__chart {
    display: flex;
    align-items: center;

    @include mobile {
      justify-content: center;
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 320px;

    > div {
      padding: 6px;
    }
  }

  &__column {
    display: flex;
    justify-content: space-between;

    > div {
      flex: 50%;
      padding: 6px 12px;

      &:first-child {
        text-align: left;
        background-color: #04c2c9;
        color: #fff;
      }

      &:last-child {
        text-align: right;
        background-color: #eee;
      }
    }
  }

  &__title {
    position: relative;
    display: inline-block;

    &__letter {
      display: inline-block;
    }

    &__line {
      opacity: 0;
      position: absolute;
      left: 0;
      height: 3px;
      width: 100%;
      background: #000;
      transform-origin: 0 0;

      &.upper {
        @extend .Skills__title__line;
        top: 0;
      }

      &.lower {
        @extend .Skills__title__line;
        bottom: 0;
      }
    }
  }
}

.Skills__ml6 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
  height: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 48px 0;
}

.Skills__ml6 .Skills__letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
  white-space: nowrap;
}
