.Layout {
  min-height: 100vh;
  display: flex;
  flex: auto;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    background: #1b242f;
    border-bottom: 3px solid #fff;

    > a {
      color: #fff;
      text-decoration: none;
      padding: 12px;
      transition: all .2s ease-in-out;

      &:hover {
        color: #e31b6d;
        transform: scale(1.2);
      }

    }

    &--active {
      color: #e31b6d !important;
    }
  }

  &__content {
    display: flex;
    flex: auto;
  }

  &__icon {
    color: #fff;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #181818;
    color: #8f9aa7;

    > div {
      margin: 12px 0;
    }
  }

  &__copyright {
    font-size: 10pt;
  }
}
